html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Miriam Libre', sans-serif;
  background-color: #F8EFBA;
  color: #303952;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  text-align: center;
}

.btn {
  font-size: 1rem;
  color: #303952;
  border-radius: 4px;
  border: none;
  background-color: #f7f1e3;
  border-right: 5px solid #ffda79;
  border-bottom: 5px solid #ffda79;
  padding: .5rem;
  margin: .25rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #ffeaa7;
  border-right-color: #f5cd79;
  border-bottom-color: #f5cd79;
}

.btn:focus {
  outline:0;
}

.btn:active {
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
  border-right: 0;
  border-bottom: 0;
}

.btn--find {
  color: #f7f1e3;
  background-color: #f8a5c2;
  padding: 1.5rem;
  border-radius: 5px;
  border-right: 5px solid #f78fb3;
  border-bottom: 5px solid #f78fb3;
  font-size: 1.25rem;
  align-self: center;
}

.btn--perfect {
  margin: 0;
  width: 100%;
  color: #f7f1e3;
  background-color: #f8a5c2;
  border-right: 5px solid #f78fb3;
  border-bottom: 5px solid #f78fb3;
  border-radius: 0 0 5px 5px;
  padding: 1rem;
  font-size: 1.25rem;
}

.btn--perfect:hover, .btn--find:hover {
  background-color: #e77f67;
  border-right-color: #e15f41;
  border-bottom-color: #e15f41;
}

.btn--perfect:hover .param__buttons {
  background-color: #c44569;
}

.btn--params {
  margin: 0;
  width: 50%;
  color: #f7f1e3;
  border-radius: 0;
  background-color: #63cdda;
  border-right: 5px solid #3dc1d3;
  border-bottom: 5px solid #3dc1d3;
}

.btn--params:hover {
  background-color: #778beb;
  border-right-color: #546de5;
  border-bottom-color: #546de5;
}

.btn--params-r, .btn--directions--r {
  border-radius: 0 0 5px 0;
}

.btn--params-l, .btn--directions--l {
  border-radius: 0 0 0 5px;
}

.btn--directions {
  margin: 0;
  width: 50%;
  color: #f7f1e3;
  background-color: #63cdda;
  border-right: 5px solid #3dc1d3;
  border-bottom: 5px solid #3dc1d3;
}

.btn--directions:hover {
  background-color: #778beb;
  border-right-color: #546de5;
  border-bottom-color: #546de5;
}

input {
  padding: .5rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  margin: .5rem;
  width: 75%;
  max-width: 100%;
}

.pink--l {
  color: #f8a5c2;
}

.pink--d {
  color: #f78fb3;
}

.red--l {
  color: #e77f67;
}

.red--d {
  color: #e15f41;
}

.blue--l {
  color: #63cdda;
}

.blue--d {
  color: #3dc1d3;
}

.purple--l {
  color: #778beb;
}

.purple--d {
  color: #546de5;
}

.center {
  text-align: center;
}


.cold_opening {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.cold_opening__head {
  width: 100%;
  text-align: center;
}

.cold_opening__h1 {
  margin: 0;
}

.cold_opening__p {
  margin: .25rem;
}

.cold_opening__manual {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.cold_opening__geo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.waiting {
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.waiting__h2 {
margin-bottom: 0;
}

.waiting__p {}

.display {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
}

.display__head {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.display__title {
  display: none;
  width: 100%;
  text-align: center;
}

.display__menu {
  display: block;
  position: fixed;
  bottom: 25px;
  left: 25px;
  cursor: pointer;
  transform: rotate(90deg);
  z-index: 1;
  color: #63cdda;
  font-size: 2rem;
  cursor: pointer;
}

.display__menu:hover {
  color: #3dc1d3;
}

.display__menu:active {
  bottom: 22px;
  left: 28px;
  color: #3dc1d3;
}

.display__notice {
  width: 100%;
  padding: 1rem;
  text-align: center;
}

.display__h1 {
  width: 100%;
  margin: 0;
  font-size: 1.5rem;
}

.display__body {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  flex-grow: 1;
}

.data {
  width: 0;
  height: inherit;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

.data__find {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
}

.data__list {
  width: 75%;
  height: 75%;
  top: 15%;
  background-color: #f7f1e3;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: flex-start;

  position: absolute;
  z-index: 1;
  left: -999px;
  transition: .5s ease;
}

.data__head {
  padding: 1.5rem;
  background-color: #f8a5c2;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-right: 5px solid #f78fb3;
  width: 100%;
  flex-shrink: 0;
}

.data__h2 {
  margin: 0;
  font-size: 1.75rem;
  text-align: center;
  color: #f7f1e3;
  padding: .25rem;
  border-top: 4px solid;
  border-bottom: 4px solid;
}

.data__h4 {
  text-align: center;
  color: #3dc1d3;
  padding: 1rem 0;
  font-size: 1.25rem;
}

.data__p {
  margin-left: 1.25rem;
}

.data__p--distance {
  margin-left: 0;
  margin-top: 0;
}

.data__options {
  width: 100%;
  flex-grow: 1;
  border-right: 5px solid #ffda79;
  overflow: scroll;
}

.data__ul {
  margin: 0;
  padding: 0 1.5rem 1rem 1.5rem;
}

.data__li {
  display: flex;
  display: flex;
  align-content: space-between;
  list-style-type: none;
  border-bottom: 4px solid #3dc1d3;
  max-height: 100%;
  cursor: pointer;
  /* flex-wrap: wrap; */
}

.option__name {
  flex-grow: 1;
  margin-left: 1.25rem;
  text-indent: -1.25rem;
  margin-right: 1rem;
}

.option__price {
  text-align: right;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.data__params {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
}

.param__buttons {
  width: 100%;
  background-color: #f78fb3;
  display: flex;
  flex-wrap: wrap;
}

.param__warning {
  width: 100%;
  padding: .5rem 1rem;
  color: #f7f1e3;
  background-color: #63cdda;
  border-right: 5px solid #3dc1d3;
}

.param__h3 {
  text-align: center;
}

.data__results {
  width: 75%;
  height: 75%;
  top: 15%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: flex-start;

  position: absolute;
  z-index: 1;
  left: -999px;
  transition: .5s ease;
}

.results__h2 {
  margin: 0;
  font-size: 1.75rem;
  text-align: center;
  color: #f7f1e3;
  padding: .25rem;
  border-top: 4px solid;
  border-bottom: 4px solid;
}

.results__h3 {
  margin: 0 0 0 1.3rem;
  text-indent: -1.3rem;
  width: 100%;
  padding: 0 1rem;
}

.results__head {
  padding: 1.5rem;
  background-color: #f8a5c2;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-right: 5px solid #f78fb3;
  width: 100%;
  flex-shrink: 0;
}

.results__body {
  width: 100%;
  background-color: #f7f1e3;
  border-right: 5px solid #ffda79;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
  overflow: auto;
  flex-grow: 1;
}

.results__buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  flex-shrink: 0;
}

.results__h4 {
  border-top: 4px solid #3dc1d3;
  border-bottom: 4px solid #3dc1d3;
  font-size: 1.5rem;
  padding: .25rem;
  margin-bottom: 0;
  width: 100%;
  text-align: center;
}

/* Adapted from CSS-Tricks https://css-tricks.com/custom-list-number-styling/ */
.results__ol {
  width: 100%;
  margin: 0 1rem;
  padding: 0 .5rem;
  list-style: none;
  counter-reset: count-it;
}

.results__li {
  margin-left: 1.3rem;
  text-indent: -1.3rem;
}

.results__ol li {
  counter-increment: count-it;
}

.results__ol li::before {
  content: counter(count-it) ". ";
  color: #f8a5c2;
  font-weight: bold;
}

.view {
  width: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
}

.view__map {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.view__notice {
  width: 100%;
  padding: 1rem;
}

.view__h3  {
  color: #3dc1d3;
  font-size: 1.5rem;
  margin: .25rem;
}

.view__p {}

#map {
  width: 100%;
  height: 100%;
  border-radius: 5px;
/*   border: 10px solid #3dc1d3;
  border-radius: 50%;
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%); */
}

.selected {
  font-weight: bold;
  color: #f78fb3;
}

.menu__active {
  left: 50%;
  transform: translateX(-50%);
}

@media all and (min-width: 768px) {

  input {
    width: 500px;
  }

  .display__head {
    padding: 1rem;
    flex-direction: row;
  }

  .display__title {
    display: block;
    width: 35%;
  }

  .display__notice {
    width: 65%;
    text-align: left;
  }

  .data {
    width: 35%;
    height: inherit;
    padding: 1rem;
  }

  .data__find {
    height: 100%;
    position: relative;
    padding: 0;
    background: none;
    justify-content: flex-start;
  }

  .data__list {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
  }

  .display__body {
  }

  .view {
    width: 65%;
    padding: 1rem;
  }

  .view__map {
  }

  .data__results {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
  }

  .display__menu {
    display: none;
  }

  .menu__active {
    left: 0;
    transform: none;
  }

}